<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="serverIP" value="127.0.0.1" />
    <add key="serverPort" value="8080" />
    <add key="wServerIP" value="127.0.0.1" />
    <add key="wServerPort" value="2050" />
    <add key="serverPath" value="server.exe" />
    <add key="wServerPath" value="wServer.exe" />
    
    <!--Timeout in seconds after server restart, should be set to more than enough until server/wServer fully loaded-->
    <add key="connectionTimeout" value="10" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>